body {
	background-color: fdfdff;
	font-family: verdana,arial;
	font-size: 3em;
}

h1 {
	font-size: 1.5em;
}

.selected, .unselected {
	margin-bottom: .5em;
}

.uibutton.selected {
	display: block;
	background-color: #00ee22;
}

.uibutton.unselected {
	display: block;
	background-color: #ff8888;
}