@(gym: Gym, machine: Machine, exercise: Exercise, performances: Seq[Performance], title: String = "Performances")

@showExercise(gym, machine, exercise, title) {
    
    <table>
	@performances.map { performance =>
		<tr>
  		<td>@performance.tstamp.format("dd MMM")</td>
  		<td class="weight">@performance.weight kg</td>
  		<td>@performance.notes</td>
  		</tr>
	} 
	</table>

    <a class="unselected" href="@routes.Selection.addPerformance(gym.id, machine.id, exercise.id)">Add a performance</a>
    
}

